<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>block1.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,251},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>

			<key>block2.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,344},{91,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{91,90}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>

			<key>block3.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,251},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>

			<key>block4.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,73},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>

			<key>bonusbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,344},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>

			<key>coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,435},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{46,46}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>energyup.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,435},{45,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{45,44}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>healthup.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,164},{45,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{45,43}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>lifeup.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,435},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>plank_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{818,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{818,72}}</string>
				<key>sourceSize</key>
				<string>{820,72}</string>
			</dict>

			<key>player1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,274},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>player2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,73},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>player3.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,271},{198,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,197}}</string>
				<key>sourceSize</key>
				<string>{198,197}</string>
			</dict>

			<key>player4.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,73},{198,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,197}}</string>
				<key>sourceSize</key>
				<string>{198,197}</string>
			</dict>

			<key>resistanceup.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,435},{46,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{46,45}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>saw.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,73},{177,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{177,177}}</string>
				<key>sourceSize</key>
				<string>{178,180}</string>
			</dict>

			<key>spikes.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,475},{90,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{90,23}}</string>
				<key>sourceSize</key>
				<string>{92,30}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>